
/****************************** COMMENTS var() Function *****************************************/
/* 22-9-2023                                                                                    */
/*												*/
/* :root can be useful for declaring global CSS variables:					*/
/* The :root CSS pseudo-class matches the root element of a tree representing the document.	*/
/* In HTML, :root represents the html - element and is identical to the selector html,		*/
/* except that its specificity is higher.							*/
/* 												*/
/****************************** COMMENTS var() Function *****************************************/

:root
{
	--main-bg-color: teal;
	--main-txt-color: blue;

	--root-BG-color: AliceBlue;
	--root-TXT-color: Black;
	--root-font-family: Frutiger, Baskerville, "Segoe UI", sans-serif;
	--root-font-weight: 400;

	--outerWrapper-BG-color: Azure;
	--outerWrapper-TXT-color: DarkRed;
	--outerWrapper-TXT-font-family: Frutiger, Baskerville, "Segoe UI", sans-serif;

	--website-title-TXT-color: DarkBlue;
	--website-title-TXT-font: Frutiger, Baskerville, "Segoe UI", sans-serif;

/*		--container-items-BG-color: #3AAFA9;*/
/*		--container-items-BG-color: #2496B2;*/
	--container-items-BG-color: #3399cc;

	--container-items-TXT-color: White;

	--topMenuFlexWrapper-BG-color: #D4E4F7;

	--topLineWrapper-BG-color: #D4E4F7;

	--bottomLineWrapper-BG-color: #D4E4F7;

	--centerBarWrapper-BG-color: #D4E4F7;

	--middleContainerWrapper-BG-color: #D4E4F7;

	--bottomContainerWrapper-BG-color: #D4E4F7;

	--d-flyout-dropdown-BG-color: #036;

}


/****************************** COMMENTS outerWrapper *******************************************/
/* 16-11-2023											*/
/*	move the settings margin, width, overflow						*/
/*		within template-skin cause they are needed for the template layout		*/
/*												*/
/* 25-8-2022											*/
/*												*/
/*	outerwrapper.BG.Color not needed							*/
/*	min-width: 960px not needed when set in body						*/
/*												*/
/*	remove width 100% to get rid of horizontal scroll bar					*/
/*	overflow: auto										*/
/*		ensures outerWrapper area is filled in the page layout view			*/
/*		avoids problems with the equal heights approach padding / border settings	*/
/*	width = 1024px and margin right and left auto > moves the visible area to the middle	*/ 
/*		of the screen									*/
/*		when width is set to auto the browser calculates the width			*/
/*	now in the body give the sides another color						*/
/*	added outerWrapper.TXT.Font [26-8-2022]							*/
/*												*/
/* 3-9-2022											*/
/*	changed overflow: auto into overflow: hidden because outerWrapper			*/
/*		caused a horizontal scrollbar							*/
/*												*/
/* 18-5-2023											*/
/*	changed overflow: back to overflow: auto because no horizontal scrollbar appears	*/
/*												*/
/****************************** COMMENTS outerWrapper *******************************************/
	#outerWrapper 
	{
/*		background: $(outerWrapper.BG.Color);*/
		font-family: $(outerWrapper.TXT.Font);
		
		background-color: var(--outerWrapper-BG-color, var(--root-BG-color, white ));
<!--		color: var(--outerWrapper-TXT-color);-->
<!--		font-family: var(--outerWrapper-TXT-font-family, var(--root-font-family, ))-->
	}


/****************************** COMMENTS element-wrapper ****************************************/
/* 20-11-2023											*/
/*	box-sizing: border-box can be removed because is provided globally			*/
/*	float: left can be removed because need to set it per element				*/
/*												*/
/* 21-7-2023                                                                                	*/
/*  'padding: 0.5%' ensures the element is shown even when it does not contain text      	*/
/*  'min-height: 20px' also ensures the Column is shown                                     	*/
/*                                                                                          	*/
/* 25-7-2023											*/
/*	'box-sizing: border-box' on an element ensures padding + border				*/
/*		are included in the width and height						*/
/*												*/
/* REMARK: CLASS handles the CSS layout of the topMenuBarLeftColumn		            	*/
/************************************************************************************************/
	.element-wrapper
	{
/*	    	float: left;*/
		padding:  0.5%;
/*		box-sizing: border-box;*/
	}


/****************************** COMMENTS header-wrapper *****************************************/
/* 20-11-2023											*/
/*	SEE ALSO SETTINGS UNDERNEATH TEMPLATE-SKIN						*/
/*												*/
/* 20-11-2023											*/
/*	box-sizing: border-box can be removed because is provided globally			*/
/*												*/
/* 26-8-2023                                                                                    */
/*  overflow should be removed because it creates scroll-bar                                    */
/*                                                                                              */
/* 29-6-2023                                                                                	*/
/*  replaced whole block in wrappers with header-wrapper                                    	*/
/*												*/
/*	'clear: both' ensures that when two elements run into each other 			*/
/*		they will not touch each others settings 					*/
/*                                                                                          	*/
/* 18-7-2023                                                                                	*/
/*  it is not clear whether 'overflow: auto' really has a purpose                           	*/
/*                                                                                          	*/
/* 21-7-2023                                                                            	*/
/*	'padding: 0%' ensures the topMenuBar-elements are placed directly at the borders	*/
/*		padding is in the topMenuBar-elements via element-wrapper			*/
/*                                                                                          	*/
/* 25-7-2023											*/
/*	'box-sizing: border-box' on an element ensures padding + border				*/
/*		are included in the width and height						*/
/************************************************************************************************/
	.header-wrapper
	{
		clear: both;
		width: 100%;
		float: left;
		display: inline-block;
/*		box-sizing: border-box;*/
		padding: 0%
	}


/****************************** COMMENTS topLineWrapper *****************************************/
/* 20-11-2023											*/
/*	SEE ALSO SETTINGS UNDERNEATH TEMPLATE-SKIN						*/
/*												*/
/* 19-10-2023											*/
/*	change color, background, font settings							*/
/*		added variables for topLineWrapper						*/
/*												*/
/* 29-6-2023											*/
/*	replaced whole block with header-wrapper						*/
/*												*/
/* 25-8-2022 added										*/
/*												*/
/*	- overflow: auto deals with the collapsing parent					*/
/*	to avoid the float elements appear outside their parent					*/
/*	or use <div style='clear:both;'/>							*/
/*		SEE: http://css-tricks.com/all-about-floats/					*/
/*		SEE: http://www.sitepoint.com/simple-clearing-of-floats/			*/
/*	- ??float: left eliminates the adding of gadgets in layout ??				*/
/*	- float forces height of container to height of longest column				*/
/*	- clear both ensures the topLineWrapper is not influenced by floats in			*/
/*		previous elements, SEE: the-mystery-of-css-float-property			*/
/*	- display: inline-block to ensure the middle column fits between the two floats		*/
/*	SEE: http://thinkvitamin.com/design/everything-you-know-about-clearfix-is-wrong/	*/
/*												*/
/*	- removed white borderline topLineWrapper						*/
/*	- removed font-size: 80%								*/
/*	- added TXT.Font									*/
/*												*/
/*	1-9-2022										*/
/*	- removed padding from topLineLeft, topLineMiddle and topLineRight			*/
/*		and placed padding in topLineWrapper						*/
/*	- float: left ensures the background color is shown					*/
/*	- padding creates a scroll bar a the bottom, eliminate by using box-sizing		*/
/*		SEE: https://www.w3schools.com/css/css3_box-sizing.asp				*/
/*												*/
/****************************** COMMENTS topLineWrapper *****************************************/
	#topLineWrapper
	{
		background: $(topLineWrapper.BG.Color);
		color: $(topLineWrapper.TXT.Color);
		font: $(topLineWrapper.TXT.Font);

		background-color: var(--topLineWrapper-BG-color, var(--root-BG-color, white ));
<!--		color: var(--topLineWrapper-TXT-color);-->
<!--		font-family: var(--topLineWrapper-TXT-font-family, var(--root-font-family, ))-->
	}


/****************************** COMMENTS main-wrapper *******************************************/
/* 20-11-2023											*/
/*	box-sizing: border-box can be removed because is provided globally			*/
/*												*/
/* 26-8-2023                                                                                    */
/*  overflow should be removed because it creates scroll-bar                                    */
/*                                                                                              */
/* 23-72023                                                                                 	*/
/*  replaced whole block in wrappers with main-wrapper                                  	*/
/*												*/
/*	'clear: both' ensures that when two elements run into each other 			*/
/*		they will not touch each others settings 					*/
/*                                                                                          	*/
/* 18-7-2023                                                                                	*/
/*  it is not clear whether 'overflow: auto' really has a purpose                           	*/
/*                                                                                          	*/
/* 21-7-2023                                                                               	*/
/*	'padding: 0%' ensures the centerBar-elements are placed directly at the borders    	*/
/*		padding is in the centerBar-elements via element-wrapper			*/
/*												*/
/* 25-7-2023											*/
/*	'display: inline-block' behaves likes float without having to clear the floats		*/
/*	except that you can not you can not move the element to the left or right of the parent	*/
/*                                                                                          	*/
/* 25-7-2023											*/
/*	'box-sizing: border-box' on an element ensures padding + border				*/
/*		are included in the width and height						*/
/************************************************************************************************/
	.main-wrapper
	{
		clear: both;
		width: 100%;
		float: left;
		display: inline-block;
/*		box-sizing: border-box;*/
		padding: 0%
}


/************************** COMMENTS centerBarWrapper ****************************** 23-7-2023 **/
/* 21-10-2023											*/
/*	change color, background, font settings							*/
/*		added variables for centerBarWrapper						*/
/*												*/
/* 23-7-2023: replaced whole block with main-wrapper						*/
/*												*/
/************************** COMMENTS centerBarWrapper *******************************************/
	#centerBarWrapper 
	{
		background: $(centerBarWrapper.BG.Color); 
		color: $(centerBarWrapper.TXT.Color);
		font: $(centerBarWrapper.TXT.Font);

		background-color: var(--centerBarWrapper-BG-color, var(--root-BG-color, white ));
<!--		color: var(--centerBarWrapper-TXT-color);-->
<!--		font-family: var(--centerBarWrapper-TXT-font-family, var(--root-font-family, ))-->
 	}


/****************************** COMMENTS footer-wrapper *****************************************/
/* 20-11-2023											*/
/*	SEE ALSO SETTINGS UNDERNEATH TEMPLATE-SKIN						*/
/*												*/
/* 20-11-2023											*/
/*	box-sizing: border-box can be removed because is provided globally			*/
/*												*/
/* 26-8-2023											*/
/*  overflow should be removed because it creates scroll-bar					*/
/*												*/
/* 20-7-2023											*/
/*  replaced whole block in wrappers with footer-wrapper					*/
/*												*/
/*	'clear: both' ensures that when two elements run into each other 			*/
/*		they will not touch each others settings 					*/
/*												*/
/* 20-7-2023											*/
/*  it is not clear whether 'overflow: auto' really has a purpose				*/
/*												*/
/* 21-7-2023											*/
/*	'padding: 0%' ensures the topMenuBar-elements are placed directly at the borders	*/
/*		padding is in the topMenuBar-elements via element-wrapper			*/
/*												*/
/* 25-7-2023											*/
/*	'box-sizing: border-box' on an element ensures padding + border				*/
/*		are included in the width and height						*/
/************************************************************************************************/
	.footer-wrapper
	{
		clear: both;
		width: 100%;
		float: left;
		display: inline-block;
/*		box-sizing: border-box;*/
		padding: 0%
	}


/****************************** COMMENTS bottomContainerWrapper *************************************************/
/* 21-10-2023													*/
/*	change color, background, font settings									*/
/*		added variables for bottomContainerWrapper							*/
/*														*/
/* 13-9-2023													*/
/*	moved float: left to class flex-container								*/
/*														*/
/* 4-9-2023													*/
/*	Remove overflow-auto											*/
/*	justify-content: space-around provides half-sized space on the edges					*/
/*	moved justify-content: space-around to class flex-container						*/
/*	moved align-items: center to class flex-container							*/
/*	moved padding-left to class flex-container								*/
/*	moved padding-right to class flex-container								*/
/*														*/
/* 10-9-2022													*/
/*	attempt to create responsive 5 columns footer								*/
/*	align-items versus justify-content: we need them both x- and y-as					*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container 	*/
/*														*/
/* 28-6-2023													*/
/*	justify-content controls where the flex items sits on the main axis					*/
/*		space-around: distributes all the items evenly along the main axis				*/
/*			with a bit of space left at either end							*/
/*		center make the flex items sit in the center of the main axis					*/
/*	https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox 					*/
/*														*/
/* 28-6-2023													*/
/*	align-items controls where the flex items sit on the cross axis						*/
/*														*/
/****************************** COMMENTS bottomContainerWrapper *************************************************/
	#bottomContainerWrapper
	{
		background: $(bottomContainerWrapper.BG.Color);
		color: $(bottomContainerWrapper.TXT.Color);
		font: $(bottomContainerWrapper.TXT.Font);


		background-color: var(--bottomContainerWrapper-BG-color, var(--root-BG-color, white ));
<!--		color: var(--bottomContainerWrapper-TXT-color);-->
<!--		font-family: var(--bottomContainerWrapper-TXT-font-family, var(--root-font-family, ))-->
	}


/****************************** COMMENTS bottomLineWrapper **************************************/
/* 20-11-2023											*/
/*	SEE ALSO SETTINGS UNDERNEATH TEMPLATE-SKIN						*/
/*												*/
/* 19-10-2023											*/
/*	change color, background, font settings							*/
/*		added variables for bottomLineWrapper						*/
/*												*/
/* 29-6-2023											*/
/*	replaced whole block with header-wrapper						*/
/*												*/
/* 25-8-2022 added										*/
/*												*/
/* SEE topLineWrapper for history								*/
/* USE in combination with footer-wrapper							*/
/*												*/
/****************************** COMMENTS bottomLineWrapper **************************************/
	#bottomLineWrapper 
	{
		background: $(bottomLineWrapper.BG.Color);
		color: $(bottomLineWrapper.TXT.Color);
		font: $(bottomLineWrapper.TXT.Font);

		background-color: var(--topLineWrapper-BG-color, var(--root-BG-color, white ));
<!--		color: var(--topLineWrapper-TXT-color);-->
<!--		font-family: var(--topLineWrapper-TXT-font-family, var(--root-font-family, ))-->
	}


/************************** BEGIN TEMPLATE-SKIN CSS SETTINGS ************************************/
/************************************************************************************************/
/* CSS settings for the DIV's that are within template-skin					*/
/*	They are here for completeness and documentation					*/
/************************************************************************************************/


/**TEMPLATE-SKIN ******************* COMMENTS box-sizing ****************************************/
/* 16-11-2023											*/
/*	set box-sizing: border-box globally							*/
/*												*/
/*********************************** COMMENTS box-sizing ****************************************/
	* {
		box-sizing: border-box;
	}


/**TEMPLATE-SKIN ******************* COMMENTS outerWrapper **************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: margin, width, overflow						*/
/*												*/
/*********************************** COMMENTS outerWrapper **************************************/
	#outerWrapper 
	{
/*		margin: 2px auto;*/
		margin: auto 5px;
  		width: auto;
	  	overflow: auto;
	}


/**TEMPLATE-SKIN ******************* COMMENTS header-wrapper ************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: width: 100% , display: inline-block					*/
/*												*/
/*********************************** COMMENTS header-wrapper ************************************/
	.header-wrapper
	{
		width: 100%;
		display: inline-block;
	}


/**TEMPLATE-SKIN ******************* COMMENTS topLineWrapper*************************************/
/* 20-11-2023											*/
/*	Needed here to REMOVE the settings of the border that are used for the template layout	*/
/*	otherwise they are also displayed on the website					*/
/*												*/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: border-color, border-top-style, border-width			*/
/*												*/
/*********************************** COMMENTS topLineWrapper ************************************/
	#topLineWrapper
	{
		border-style: none;
	}


/**TEMPLATE-SKIN ******************* COMMENTS topLineLeft ***************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: left, width: 50%						*/
/*												*/
/*	float: left is set here because it is removed element-wrapper				*/
/*												*/
/* 15-9-2023											*/
/*	remove float: left because it is already provided by the class element-wrapper		*/
/*												*/
/*********************************** COMMENTS topLineLeft ***************************************/
	#topLineLeft
	{
		float: left;
		width: 50%;
	}

/**TEMPLATE-SKIN ******************* COMMENTS topLineRight **************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: right							*/
/*												*/
/* 15-9-2023											*/
/*	set float: right to overrule class element-wrapper					*/
/*												*/
/* 1-9-2022											*/
/*	float right ensure sections containing twitter follow button is shown at the right side	*/
/*												*/
/*********************************** COMMENTS topLineRight **************************************/
	#topLineRight
	{
		float: right;
	}

/**TEMPLATE-SKIN ******************* COMMENTS topLineMiddle *************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: left								*/
/*												*/
/*	float: left is set here because it is removed element-wrapper				*/
/*												*/
/* 15-9-2023											*/
/*	remove float: left because it is already provided by the class element-wrapper		*/
/*												*/
/* 1-9-2022											*/
/*	float right ensure sections containing twitter follow button is shown at the right side	*/
/*********************************** COMMENTS topLineMiddle *************************************/
	#topLineMiddle
	{
		float: left;
	}


/**TEMPLATE-SKIN ******************* COMMENTS centerBarWrapper **********************************/
/* 20-11-2023											*/
/*	Needed here to REMOVE the settings of the border that are used for the template layout	*/
/*	otherwise they are also displayed on the website					*/
/*												*/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: border-color, border-top-style, border-width			*/
/*												*/
/*********************************** COMMENTS centerBarWrapper **********************************/
	#centerBarWrapper
	{
		border-style: none;
	}

/**TEMPLATE-SKIN ******************* COMMENTS centerBarLeft *************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: left, width: 10%						*/
/*												*/
/*	float: left is set here because it is removed element-wrapper				*/
/*												*/
/* 5-10-2023											*/
/*	remove background collor lightgreen, this is the color surrounding the post page	*/
/*												*/
/*												*/
/*********************************** COMMENTS centerBarLeft *************************************/
	#centerBarLeft 
	{
		float: left;
		width: 10%;
	}

/**TEMPLATE-SKIN ******************* COMMENTS centerBarRight ************************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: right, width: 20%						*/
/*												*/
/* 5-10-2023											*/
/*	remove background collor grey, this is the color surrounding the post page		*/
/*												*/
/* 15-9-2023											*/
/*	set float: right to overrule class element-wrapper					*/
/*												*/
/*********************************** COMMENTS centerBarRight ************************************/
	#centerBarRight
	{
		float: right;
		width: 20%;
	}

/**TEMPLATE-SKIN ******************* COMMENTS centerBarMiddle ***********************************/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: float: left, width: 70%						*/
/*												*/
/*	float: left is set here because it is removed element-wrapper				*/
/*												*/
/* 5-10-2023											*/
/*	remove background collor yellow, this is the color surrounding the post page		*/
/*												*/
/*												*/
/*********************************** COMMENTS centerBarMiddle ***********************************/
	#centerBarMiddle
	{
		float: left;
		width: 70%;
	}


/**TEMPLATE-SKIN ******************* COMMENTS footer-wrapper ************************************/
/* 17-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: width: 100% , display: inline-block					*/
/*												*/
/*********************************** COMMENTS footer-wrapper ************************************/
	.footer-wrapper
	{
		width: 100%;
		display: inline-block;
	}


/**TEMPLATE-SKIN ******************* COMMENTS bottomContainerWrapper*****************************/
/* 20-11-2023											*/
/*	Needed here to REMOVE the settings of the border that are used for the template layout	*/
/*	otherwise they are also displayed on the website					*/
/*												*/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: border-color, border-top-style, border-width			*/
/*												*/
/*********************************** COMMENTS bottomLineWrapper *********************************/
	#bottomContainerWrapper
	{
		border-style: none;
	}


/**TEMPLATE-SKIN ******************* COMMENTS bottomBarLeft *************************************/
/* 15-9-2023											*/
/*	remove float: left because it is already provided by the class element-wrapper		*/
/*												*/
/*********************************** COMMENTS bottomBarLeft *************************************/
	#bottomBarLeft 
	{
/*		float: left;*/
		width:20%;
	}


/**TEMPLATE-SKIN ******************* COMMENTS bottomLineWrapper**********************************/
/* 20-11-2023											*/
/*	Needed here to REMOVE the settings of the border that are used for the template layout	*/
/*	otherwise they are also displayed on the website					*/
/*												*/
/* 16-11-2023											*/
/*	Needed in template-skin to set the parameters for the template layout.			*/
/*		parameters: border-color, border-top-style, border-width			*/
/*												*/
/*********************************** COMMENTS bottomLineWrapper *********************************/
	#bottomLineWrapper
	{
		border-style: none;
	}

/*********************************** COMMENTS bottomLineMiddle **********************************/
/* 20-9-2023											*/
/*	remove class element-wrapper from element, because it has a float: left			*/
/*	reinstate text-align: center								*/
/*												*/
/* 19-9-2023											*/
/*	remove text-align: center								*/
/*	remove padding: 0.5%									*/
/*	add class element-wrapper to the element						*/
/*												*/
/*********************************** COMMENTS bottomLineMiddle **********************************/
	#bottomLineMiddle
	{
		text-align: center;
	}

/************************************************************************************************/
/* CSS settings for the DIV's that are within template-skin					*/
/*	They are here for completeness and documentation					*/
/************************************************************************************************/
/************************** END TEMPLATE-SKIN CSS SETTINGS **************************************/

